.header {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: aqua;
    overflow: hidden;
}
.header .logo img{
    width: 300px;
    height: 155px;
    object-fit: cover;
    margin-right: 704px;
}
.header .menu div {
    width: 300px;
    height: 150px;
    float: left;
    background-color: beige;

}

.header .menu a{
    
}
.center {
    width: 100%;
    height: 700px;
    display: flex;
    background-color: dodgerblue;
}
.feeter {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: darksalmon;
}
.feeter div{
    width: 300px;
    height: 100px;
    background-color: salmon;
}

/* #slider {
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;
}
#slider a {
	position: absolute;
	display: block;
	top: 0;
	left: -100%;
	width: 100%;
	height: 700px;
}
#slider a:first-child {
	left: 0;
}
#slider a img {
	width: 100%;
	height: 700px;
} */

.section input[id*="slide"] {display:none;}
.section .slidewrap {max-width:1200px;margin:0 auto;overflow:hidden;}
.section .slidelist {white-space:nowrap;font-size:0;}
.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
.section .slidelist > li > a {display:block;position:relative;}
.section .slidelist > li > a img {width:100%;}
.section .slidelist label {position:absolute;z-index:1;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
.section .slidelist .left {left:30px;background:url('left.png') center center / 100% no-repeat;}
.section .slidelist .right {right:30px;background:url('right.png') center center / 100% no-repeat;}
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/* .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  } */
/* .bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
} */
